*{
    box-sizing:border-box
}

body{
    background-color:#B8B894;
    font-family:Calibri;
    margin: 0px auto;
    padding: 0px;
}

header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 10px;
    max-width: 100%;
    display: block;
    z-index: 5;
}
header, nav, .nav, .current, h1, .cv, footer {
    background-color: #0F0F0A;
}
nav{
    padding: 5px;
    padding-bottom: 8px;
    text-align:center;
    width: 100%;
    box-shadow:  0px 4px 6px 1px rgba(98,98,70,1);
    clear: both
    
}
nav a:hover{
    font-weight: bold   
}
.nav{
    font-weight:300;
    color:ivory;
    text-decoration:none;
    text-align:center;
    border-right: 2px grey;
    padding:0px 20px 0px 20px;
    text-transform: uppercase;
    margin: 0px auto;
    font-size:13px
}
.current{
    font-weight:bolder;
    color:ivory;
    text-decoration:none;
    text-align:center;
    border-right: 2px grey;
    margin-right: 10px;
    text-transform: uppercase;
    margin: 0px auto;
}

h1{
    font-weight:bolder;
    color:ivory;
    font-size: 30px;
    display:inline-;
    margin: 0px auto 5px auto;
    text-align: center;
}

.cv{
    color:ivory;
    font-size:20px;
    display:inline-;
    margin-top:0px;
    margin-bottom: 0px;
    position: relative;
    bottom: 10px;
    text-align: center;
}
#logo{
    float:right;
    max-width: 50%;
}
#float{
    float:left;
    margin: 5% 6%;
    text-align: center;
}
p{
    font-family:georgia;
    font-size: 14px;
}

.blog{
    background-color: ivory;
    padding: 20px 30px;
    display: block;
    width: 90%;
    box-shadow: 5px 5px 6px 2px rgba(98,98,70,0.59);
    border-radius: 15px;
    position: relative;
    margin: 20px auto;
}

li li{
    font-family: georgia;
    font-size: 13px;
}
ol{
    padding: 0px;
    margin: 0px auto;
}


#first{
    margin: 20px auto;
    margin-top: 190px;    
}

.clear-fix{
    content:".";
    display: block;
    height:0;
    clear: both;
    visibility: hidden;
}
.blog h4{
    margin:0px 0px;
    border-bottom:2px solid grey;
    display:block;
    padding: 0px;
    position: relative;
    bottom: 5px;
}

footer{
    color: ivory;
    font-size: 12px;
    font-weight: lighter;
    padding: 8px;
}
footer a{
    text-decoration: none;
    color: ivory;
    font-weight: bold;
}
#personal-details{
    margin-top: 200px;
}

#message{
    font-family: calibri;
    border-radius: 15px;
    padding: 10px 5px;
    border: 1px solid #0F0F0A;
    font-weight: bold;
    margin: 5px 0px;
    background-color: ivory;
}
#email, #name{
    font-family: calibri;
    border-radius: 10px;
    margin: 5px 0px 15px 5px;
    font-weight: lighter;
    background-color: ivory;
    padding: 0px 5px;
    width: 200px;
}
#email{
    position: relative;
    left: 4px;
}

form{
    max-width: 50%;
    width: 70%;
    margin: 20px;
    
}

@media screen and (min-width:543px){
#float{
    max-width:50%;
    margin:5% 9%;
}
h1{
    font-size:35px;
}
.cv{
    font-size:20px;
}
.nav{
    font-size:15px;
}
#first{
    margin-top: 210px auto; 
}
}
    
@media screen and (min-width:669px){
.blog{
    width: 80%;
    margin: 20px auto;    
}
}
    
    
    



@media screen and (min-width:6000px){
    .current{
        position: relative;
        bottom: 10px;
        font-size: 18px;
    }
    .nav{
        font-size: 18px;
    }
    h1{
        font-size:70px;
        padding: 10px 50px 0px 50px;
        margin-top:10px;
        margin-bottom:0px;
    }
    #logo{
        float:right; 
        display: inline-block;
        max-width: 30%;
    }
    .cv{
        right: 10px;
        float: right;
        text-align: left;
        font-size:35px;
    }
    nav{
        padding: 12px;
        padding-bottom: 15px;
    }
    .blog{
        width: 80%;
        margin: 0px auto;
    }
}